server {
    listen       80;
    server_name  localhost;

    gzip on;
    gzip_proxied any;
    gzip_vary on;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    # proxy the /api to connect to the API server:
    location /api {
        proxy_pass  http://swl-api-server-web:8000;
    }
}
